@import './assets/scss/import';
@import './pages-scss/home';
@import './pages-scss/about-us';
@import './pages-scss/services';
@import './pages-scss/blog';
@import './pages-scss/blog-detail';
@import './pages-scss/consultation.scss';
@import './pages-scss/career';
