@mixin gradient {
  background: linear-gradient(to right, #20D4FE 0% , #B722FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}
@mixin button {
  background: linear-gradient(90deg, #20D4FE 0%, #B722FF 100%);
  border:none;
}
@mixin span {
  font-size: 40px;
  font-weight: 700px;
  display: block;
}
@mixin truncate($lines,$lh: 1.2,$spacer:0) {
  line-height: $lh;
  max-height: $lh * $lines + $spacer + em;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin a-tag {
  font-size: 24px;
  font-weight: 500;
  color: $primary;
  text-decoration: none;
}
