.contact-us {
  margin-top: 6.25rem;
  p {
    @include p;
    margin-top: 2.5rem;
    max-width: 360px;
  }
  .information {
    display: grid;
    h6 {
      @include h-6;
    }
    a {
      @include a-tag;

      span {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .contact-detail {
    h6 {
      @include h-6;
    }
    ul {
      padding-left: 0 !important;
      .contact-list {
        list-style-type: none;
        display: flex;
        padding-top: 1.5rem;
        &:hover {
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.footer {
  border-top: 1px solid #383838;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
    p {
      font-size: 18px;
      font-weight: 400;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li:not(:last-child) {
        margin-right: 24px;
      } 
      li a {
          color: #A3A3A3;
        svg {
          &:hover {
            cursor: pointer;
            stroke: white;
            color: $primary;
            fill: $primary;
          }
        }
      } 
    }
  }