body {
  background-color: $bg-dark;
  color: $primary;
  // font-family: 'SF Pro Display';
}
.container {
  text-align: center;
}
.subtitle{
  background: linear-gradient(to right, #20D4FE 0% , #B722FF 20%) !important;
  background-clip: border-box;
  -webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.navbar {
display: flex;
padding: 1.875rem;
width: 100%;
ul {
  display: flex;
  list-style-type: none;
  a {
    @include a-tag;
    color: $primary;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      display:none;
      width: 100%;
      border:1px solid transparent;
      background:
      linear-gradient($bg-dark,$bg-dark) padding-box,
      linear-gradient(to right, #20D4FE 0%, #B722FF 100%) border-box;
    }
    &:hover{
      @include gradient;
        &::after {
          display: block;
        }
      }
      }
    li:not(:last-child) {
    margin-right: 24px;
    }
  }
  .btn {
    @include button;
  }
}
.services {
  margin-top:4.5rem;
  h3 {
    @include h-3;
  }
  h4 {
    color: $primary;
    @include h-4;
    span{
      display: block;
    }
  }
  .card-listing {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5rem;
    .card {
      background: #000;
      padding: 1.875rem;
      max-width: 360px;
      border: 2px solid #fff;
      &:hover {
        cursor: pointer;
        border:2px solid transparent;
        background:
        linear-gradient($bg-dark,$bg-dark) padding-box,
        linear-gradient(to right, #20D4FE 0%, #B722FF 100%) border-box;
        svg:hover stop:first-child {
          stop-color: #1EBEE0;
      }
      
      svg:hover stop:last-child {
          stop-color: #952491;
      }
      }
      &:not(:last-child){
        margin-right: 20px;
      }
      h5 {
        @include h-5;
        margin-top: 30px;
      }
      p {
        @include p;
        color: $primary;
        max-width: 18.75rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; 
        overflow: hidden;
        min-height: 6.125rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
      } 
    }
    .arrow {
      &:hover {
        transform: translateX(.9375rem);
        transition: 0.2s ease-in;
      }
    }
  }
  a {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    @include a-tag;
    color: $primary;
    margin: 2.5rem 0rem 0rem;
    &:hover {
      color: $secondary;
      svg {
        transform: translateX(.9375rem);
        transition: 0.2s ease-in;
      }
    }
    svg {
      margin-left: 5px;
    }
  }
}
.about-us {
  margin-top: 128px;
  .first-row {
    align-items: center;
    .col-left {
      margin-right: 48px;
    }
  }
  h3 {
    @include h-3;
  }
  h4 {
    @include h-4;
    margin: 16px 0px;
  }
  p {
    @include p;
    max-width: 34rem;
    margin-bottom: 0px;
  }
  .experience {
    h6 {
      @include gradient;
      font-size: 2.5rem;
      font-weight: 700;
    }
    span {
      font-size: 20px;
      font-weight: 600;
    }
    .delivered-products{
      margin-top: 20px;
    }
    .hours-annually{
      margin-top: 20px;
    }
  }
  .set-us-apart {
    margin-top: 5rem;
    h4{
      margin-top: 0px;
      margin-bottom: 4.375rem;
    }
    .set-us-apart-listing {
      .set-us-apart-item {
        display: flex;
        margin-left: 16px;
        &:not(:last-child){
          margin-bottom: 3.125rem;
        }
        .counter {
          flex: 0 0 3.75rem;
          span {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            font-size: 1rem;
            font-weight: 500;
            width: 1.625rem;
            height: 1.625rem;
            color: white;
            background: linear-gradient(180deg, #20D4FE 0%, #B722FF 100%);
          }
        }
        .content {
          flex: 1;
          h6 {
            font-size: 1.5rem;
            font-weight: 600;
            color:$primary;
          }
          p {
            max-width: 31.25rem;
          }
        }
      }
    }
  }
}
.contact-us {
  text-align: left;
  margin-top: 7.8rem;
  p {
    @include p;
    margin-top: 40px;
    max-width: 22.5rem;
  }
  .information {
    display: grid;
    h6 {
      @include h-6;
    }
    a {
      @include a-tag;

      span {
        font-size: 1.125rem;
        font-weight: 400;
      }
    }
  }
  .contact-detail {
    h6 {
      @include h-6;
    }
    ul {
      padding-left: 0 !important;
      .contact-list {
        list-style-type: none;
        display: flex;
        padding-top: 24px;
          svg {
            margin-right: .625rem;
            cursor: pointer;
        }
      }
    }
  }
}
.footer {
  text-align: left;
  border-top: .0625rem solid #383838;
border-top: .0625rem solid #383838;
margin-top: 48px;
padding-top: 48px;
padding-bottom: 32px;
  p {
    font-size: 1.125rem;
    font-weight: 400;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 1.5rem;
    } 
    li a {
        color: #A3A3A3;
      svg {
        &:hover {
          cursor: pointer;
        }
      }
    } 
  }
}
