h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
h1 {
  font-size: 66px;
  font-weight: 700;
}
h2 {
  font-size: 52px;
  font-weight: 700;
}
h3 {
  font-size: 40px;
  font-weight: 700;
}
h4 {
  font-size: 38px;
  font-weight: 700;
}
h5 {
  font-size: 32px;
  font-weight: 600;
}
h6 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 18px;
  font-weight: 400;
}
button{
  font-size: 18px;
  font-weight: 500;
}
