@font-face {
  font-family: "SF Pro Display";
  src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
}
$bg-dark: #000;
$primary: #FFFFFF;
$secondary:linear-gradient(to right, #20D4FE 0%, #B722FF 100%);
