.about{
  .connection {
    margin-top: 6.6875rem;
    border-bottom: 2px solid $border-bottom;
    .row {
      display: flex;
      align-items: center;
      h1 {
        max-width: 620px;
        display: block;
      }
    }
    .image-wrapper {
      display: flex;
      margin: 6.25rem 0;
      .img-left {
        flex: 0 0 60%;
        margin-right: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .img-right {
        flex: 1;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .ceo {
    border-bottom: 2px solid #FFFFFF40;
    h1 {
      font-weight: 600;
      margin-top: -20px;
    }
    h6 {
      font-weight: 600;
    }
    .we-are-strong {
      margin-top: 8rem;
      p {
        margin-top: 60px;
      }
    }
    .ceo-sec {
      align-items: flex-start;
      margin-top: 6rem;
      margin-bottom: 11.25rem;
      .ceo-detail {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        .ceo-img {
          width: 120px;
          height: 120px;
          margin-right: 1.875rem;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
        }
        span {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  .about-us {
    margin-top: 7.1875rem;
  }
  .our-work {
    margin-top: 8.125rem;
    text-align: center;
    .snapshot-projects {
      margin-top: 6.25rem;
      .snapshot-projects-list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }
  .benifits {
    .company-benefits {
      text-align: center;
      margin: 8.125rem 0rem 6.25rem;
    }
    .benifit-details {
      margin-top: 6.25rem;
      ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 100%;
        &:not(:last-child){
          margin-bottom: 20px;
        }
        li {
          width:48%;
          border-bottom: 0.5px solid #7B7B7B;
          p {
            text-align: justify;
            padding-bottom: 30px;
          }
        }
        .title {
          display: flex;
          justify-content: space-between;
          background: linear-gradient(to bottom, #20D4FE 0% , #B722FF 100%);
          background-clip: border-box;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 24px;
        }
      }
    }
  }
  .contact-us{
  margin-top: 11.25rem;
  }
}
