.blog-detail{
  margin-top: 6.6875rem;
  h6 {
    font-weight: 400;
  }
  .development {
    display: flex;
    flex-direction: column;
    .development-header {
      text-align: center;
      margin-bottom: 60px;
      h1{
        @include gradient;
      }
      span{
        margin-top: 8px;
      }
    }
    .image-wrapper{
      height: 500px;
      width: 100%;
      img{
        height: 100%;
        width: 100%;
      }
    }
    h6 {
      margin: 3.75rem 0;
    }
  }
  .blog-description {
    margin-bottom: 3.75rem;
    h3 {
      margin-bottom: 1.875rem;
    }
    .quote {
      display: flex;
      flex-direction: column;
      padding: 3.75rem 8.75rem;
      .quote-header {
        display: flex;
        span {
          position: relative;
          font-size: 36px;
          font-weight: 300;
          padding-left: 5.625rem;
          margin-bottom: 1.5rem;
          &::before {
            content:'';
            position: absolute;
            display: block;
            width: 70px;
            border: 2px solid $primary;
            background:$primary;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
          }
        }
      }
      blockquote {
        font-size: 3rem;
        font-weight: 700;
        max-width: 800px;
      }
    }
    .image-wrapper {
      display: flex;
      margin: 3.75rem 0 2.5rem;
      .img-left {
       flex: 0 0 50%;
       margin-right: 5rem;
       img{
        height: 100%;
        width: 100%;
       }
      }
      .img-right {
        flex: 1;
        img{
          height: 100%;
          width: 100%;
        }
      }
      &:not(:last-child){
        margin-right: 5rem;
      }

    }
    .img-caption {
      position: relative;
      padding-left: 5.625rem;
      &::before {
        content:'';
        position: absolute;
        width: 70px;
        border: 2px solid $primary;
        color: $primary;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background:$primary;
      }
    }
  }
  .video-blog {
    h3 {
      padding: 3.75rem 0px 1.875rem;
    }
    .video{
      width: 100%;
      height: 500px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .written-by {
      margin: 60px 0px 130px;
      .blog-writer {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .ceo-img {
          width: 120px;
          height: 120px;
          margin-right: 30px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        h6{
          margin-bottom: 10px;
        }
      }
    }
  }
  .contact-us{
    margin-top: 6.25rem;
  }
}
