.blog-detail{
  h6 {
    font-weight: 400;
  }
  .development {
    display: flex;
    flex-direction: column;
    .development-header {
      text-align: center;
      margin-bottom: 60px;
      h1{
        @include gradient;
      }
    }
    h6 {
      margin: 60px 0px;
    }
  }
  .blog-description {
    margin-bottom: 60px;
    h3 {
      margin-bottom: 30px;
    }
    .quote {
      display: flex;
      flex-direction: column;
      padding: 3.75rem 8.125rem;
      .quote-header {
        display: flex;
        span {
          position: relative;
          font-size: 36px;
          font-weight: 300;
          padding-left: 5.625rem;
          &::before {
            content:'';
            position: absolute;
            display: block;
            width: 70px;
            border: 2px solid $primary;
            background:$primary;
            top: 50%;
            left: 6%;
          }
        }
      }
      blockquote {
        font-size: 48px;
        font-weight: 700;
        max-width: 800px;
      }
    }
    .images {
      display: flex;
      margin: 60px 0 40px;
      .img-1{
       flex: 0 0 580px;
      }
      .img-2{
        flex: 1;
      }
      &:not(:last-child){
        margin-right: 80px;
      }

    }
    .images-footer {
      position: relative;
      padding-left: 90px;
      &::before {
        content:'';
        position: absolute;
        width: 70px;
        border: 2px solid $primary;
        color: $primary;
        display: block;
        top: 50%;
        left: 0;
        background:$primary;
      }
    }
  }
  .video-blog {
    h3 {
      padding: 30px 0px 60px;
    }
    iframe {
      width: 100%;
      height: 500px;
    }
    .video-blog-footer {
      margin: 60px 0px 130px;
      .blog-writer {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .ceo-img {
          width: 120px;
          height: 120px;
          margin-right: 30px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
