.consultation-page {
  margin-bottom: 160px;
  .consultation-header {
    h1{
      text-align: center;
      @include gradient;
    }
  }
  .consultation-body {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-top: 80px;
    .consultation-form {
      padding: 0 30px 0;
      height: 700px;
      background: #1E1E1E;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-header {
          padding: 40px 0px 50px;
        }
        .form-group {
          &:not(:last-of-type) {
            margin-bottom: 40px;
          }
          .form-control {
            font-size: 1.4rem;
            color: $primary;
            outline: none;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $primary;
            background-color: #1E1E1E;
            padding: 0;
            &::placeholder{
              color: #A3A3A3;
            }
            &:focus{
              box-shadow: none;
            }
          }
        }
          button{
            align-items: center;
            @include button;
            padding: 20px 90px;
            margin: 80px auto 170px;
          }
      }
    }
    .our-contacts {
      .contact-header {
        margin-top: 40px; 
        h5{
          margin-bottom: 20px;
        }
        h2{
          margin-bottom: 20px;
        }
      }
      .contact-details {
        margin: 70px 0 40px;
        span {
          display: block;
          font-size: 20px;
          font-weight: 500px;
          &:not(:last-of-type){
            margin-bottom: 16px;
          }
        }
        ul{
          display: flex;
          list-style-type: none;
          padding-left: 0;
          margin: 40px 0 0;
          li{
            svg{
              &:hover{
                stop:first-child {
                  stop-color: #1EBEE0;
                }
                stop:last-child {
                  stop-color: #952491;
                }
              }
            }
            &:not(:last-child){
              margin-right: 40px;
              
            }
          }
        }
      }
    }
  }
}