.home{
  .consultation {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8.75rem;
    h1 {
      font-size: 70px;
      font-weight: 800;
      line-height: 1.4;
      span {
        @include gradient;
        display: block;
      }
    }
    h6 {
      font-weight: 400;
      max-width: 1040px;
      margin: 0px auto auto;
    }
    .btn {
      @include button;
      font-size: 18px;
      padding: 12px 20px;
      margin: 35px auto 7.5rem;
    }
  }
  .images-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'item-1 item-2 item-3'
    'item-4 item-2 item-5';
    .item-1 { grid-area: item-1; }
    .item-2 { grid-area: item-2; }
    .item-3 { grid-area: item-3; }
    .item-4 { grid-area: item-4; }
    .item-5 { grid-area: item-5; }
    .image {
      position: relative;
      overflow: hidden;
      .overlays {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition: .3s all;
      }
      &:hover {
        opacity: 0.7;
        .overlays {
        left: -100%;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .portfolio {
    margin-top: 8.125rem;
    .portfolio-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      h5 {
        @include gradient;
      }
      h3 {
        margin: 2.5rem 0rem 2.5rem;
      }
    }
  }
}
