.consultation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 8.75rem;
  h1 {
    color: $primary;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.4;
    span {
      @include gradient;
      display: block;
    }
  }
  p {
    @include p;
    font-size: 24px;
    max-width: 1040px;
    margin: 0px auto auto;
  }
  .btn {
    @include button;
    padding: 12px 20px;
    margin: 35px auto 7.5rem;
  }
}
.images-grid {
  display: grid;
  justify-content: space-between;
  grid-template-areas:
  'item-1 item-2 item-3'
  'item-4 item-2 item-5';
  .item-1 { grid-area: item-1; }
  .item-2 { grid-area: item-2; }
  .item-3 { grid-area: item-3; }
  .item-4 { grid-area: item-4; }
  .item-5 { grid-area: item-5; }
  .image{
    &:hover {
    opacity: 0.7;
    }
  }
}
.portfolio {
  margin-top: 8.125rem;
  .portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      @include h-3;
      @include gradient;
    }
    h4 {
      @include h-4;
      margin: 2.5rem 0rem 2.5rem;
    }
  }
}
