
.consultation {
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    color: $primary;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.4;
    span {
      @include gradient;
      display: block;
    }
  }
  p {
    color: $primary;
    max-width: 700px;
    margin: 0px auto auto;
  }
  .btn {
    @include button;
    padding: 12px 20px;
    margin: 35px auto;
  }
}
.images-grid {
  display: grid;
  justify-content: space-between;
  grid-template-areas:
  'item-1 item-2 item-3'
  'item-4 item-2 item-5';
  .item-1 { grid-area: item-1; }
  .item-2 { grid-area: item-2; }
  .item-3 { grid-area: item-3; }
  .item-4 { grid-area: item-4; }
  .item-5 { grid-area: item-5; }
  .image{
    &:hover {
    opacity: 0.7;
    }
  }
}
.portfolio {
  margin-top: 3rem;
  .portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      @include h-3;
    }
    h4 {
      @include h-4;
    }
  }
}
.contact-us {
  margin-top: 6.25rem;
  p {
    @include p;
    margin-top: 2.5rem;
    max-width: 360px;
  }
  .information {
    display: grid;
    h6 {
      @include h-6;
    }
    a {
      @include a-tag;

      span {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .contact-detail {
    h6 {
      @include h-6;
    }
    ul {
      padding-left: 0 !important;
      .contact-list {
        list-style-type: none;
        display: flex;
        padding-top: 1.5rem;
        &:hover {
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.footer {
  border-top: 1px solid #383838;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
    p {
      font-size: 18px;
      font-weight: 400;
    }
    ul {
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      li:not(:last-child) {
        margin-right: 24px;
      } 
      li a {
          color: #A3A3A3;
        svg {
          &:hover {
            cursor: pointer;
            stroke: white;
            color: $primary;
            fill: $primary;
          }
        }
      } 
    }
  }
