.services-page{
  .product-scale {
    margin-top: 8.75rem;
    margin-bottom: 8rem;
    h1 {
      text-align: center;
      font-size: 70px;
      font-weight: 800;
      span {
        @include gradient;
        display: block;
      }
    }
    p {
      max-width: 750px;
      margin: 24px auto 60px;
    }
  }
  .project-failure {
    margin-top: 8.75rem;
    p {
      font-size: 20px;
      margin: 16px auto 20px;
    }
    .work-policy {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 630px;
      margin-top: 40px;
      .tick {
        flex: 0 0 35px;
        margin-right: 55px;
      }
      .policy-detail {
        flex: 1;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .lasting-impact {
    margin: 8.125rem 0px 3.75rem;
    h2 {
      span {
        @include gradient;
      }
    }
    .impact-details {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        text-align: left;
      }
    }
  }
  .our-qualities {
    text-align: left;
    span {
      @include gradient;
      font-size: 80px;
      font-weight: 800;
    }
    h3 {
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
}
