.web-development {
  .programing-expert {
    margin: 6.6875rem 0 8.125rem;
    .image {
      padding: 0;
    }
    .description {
      padding-left: 2.5rem;
      h2 {
        max-width: 600px;
        margin: 1.875rem 0;
      }
      p {
        max-width: 600px;
        margin-bottom: 1.875rem;
      }
      .tech-problem {
        display: flex;
        h6 {
          max-width: 520px;
          margin-left: 1.5625rem ;
        }
      }
    }
  }

  .project-failure {
    margin-bottom: 130px;
    p {
      font-size: 20px;
      margin: 16px auto 20px;
    }
    .work-policy {
      display: flex;
      align-items: center;
      max-width: 630px;
      margin-top: 40px;
      .tick {
        margin-right: 55px;
      }
      .policy-detail {
        flex: 1;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .our-technology {
    text-align: center;
    margin-bottom: 130px;
    .snapshot-projects {
      margin-top: 58px;
      .snapshot-projects-list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
  .perks {
    margin-bottom: 8.125rem;
    h1 {
      max-width: 700px;
      margin-bottom: 3.75rem;
    }
    .perks-detail {
      display: flex;
      max-width: 795px;
      &:nth-child(even) {
        margin-left: auto;
      }
      &:not(:last-child){
        margin-bottom: 4.375rem;
      }
      .perk-list-count {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 80px;
          font-weight: 800;
          @include gradient;
          margin-bottom: 1.875rem;
          line-height: 86%;
        }
      }
      .perk-list-head {
        position: relative;
        padding-left: 3.75rem;
        &::before {
          content:'';
          position: absolute;
          display: block;
          width: 5px;
          height: 170px;
          border:3px solid transparent;
          background:
          linear-gradient($bg-dark,$bg-dark) padding-box,
          linear-gradient(to right, #20D4FE 0%, #B722FF 100%) border-box;          
          top: 0;
          left: 30px;
        }
        h3 {
          margin-bottom: 2.5rem;
        }
        p {
          max-width: 640px;
        }
      }
    }
  }
}
.portfolio {
  margin-top: 8.125rem;
  .portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      @include gradient;
    }
    h3 {
      margin: 2.5rem 0rem 2.5rem;
    }
  }
}
