.web-development-page {
  .programing-expert {
    margin-bottom: 130px;
    .image {
      padding: 0;
    }
    .description {
      padding-left: 40px;
      h2 {
        max-width: 600px;
        margin: 30px 0 30px;
      }
      p {
        max-width: 600px;
        margin-bottom: 30px;
      }
      .tech-problem {
        display: flex;
        h6 {
          max-width: 520px;
          margin-left: 25px ;
        }
      }
    }
  }
  .project-failure {
    margin-bottom: 130px;
    p {
      font-size: 20px;
      margin: 16px auto 20px;
    }
    .work-policy {
      display: flex;
      align-items: center;
      max-width: 630px;
      margin-top: 40px;
      .tick {
        margin-right: 55px;
      }
      .policy-detail {
        flex: 1;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  .our-technology {
    text-align: center;
    margin-bottom: 130px;
    .snapshot-projects {
      margin-top: 58px;
      .snapshot-projects-list {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
  .perks{
    margin-bottom: 130px;
    h1{
      max-width: 700px;
      margin-bottom: 60px;
    }
    .integration{
      display: flex;
      max-width: 795px;
      .perk-list-count{
        display: flex;
        flex-direction: column;
        span{
          @include gradient;
          font-size: 80px;
          font-weight: 800;
        }
      }
      .perk-list-head{
        position: relative;
        padding-left: 3.625rem;

        &::before {
          content:'';
          position: absolute;
          display: block;
          width: 5px;
          height: 130px;
          border: 2px solid $primary;
          background:$primary;
          top: 0;
          left: 3%;
        }
        p{
          max-width: 640px;
        }
      }
    }
  }
}
.portfolio {
  margin-top: 8.125rem;
  .portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h5 {
      @include gradient;
    }
    h3 {
      margin: 2.5rem 0rem 2.5rem;
    }
  }
}